.sidebar {
  background: #2c3e50;
  color: white;
  padding: 20px;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-label {
  display: none;
}

.logout {
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  font-size: 21px;
  color: #b6afaf
}

.nav-menu {
  list-style: none;
}

.nav-item {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}

.nav-item:hover {
  background: #34495e;
}

@media (max-width: 768px) {
  .nav-menu {
    display: flex;
  }
  
  .logout {
    display: none;
  }

  .admin-label {
    display: flex;
    font-weight: bold;
    cursor: pointer;
    font-size: 21px;
    color: #b6afaf
  } 
}