.tp-container {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.product-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add_btn {
  align-content: center;
  margin: 15px 0;
  padding: 5px 10px;
  background-color: var(--tp-theme-14);
  border-radius: 10px;
}

.title {
  font-size: 24px;
  margin: 20px 0;
  text-align: start;
  font-weight: 500;
  display: block;
}

/* Grid Layout */
.tp-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 20px;
  justify-content: center;
}

.tp-col {
  display: flex;
  justify-content: center;
}

.product-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  padding: 15px;
  width: 100%;
  max-width: 300px;
  min-height: 350px;
  height: auto;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 300px;
}

@media (max-width: 568px) {
  .product-image {
    height: 260px;
    object-fit: cover;
  }
  
  .product-card {
    min-height: 350px;
    height: auto;
  }

  .tp-container {
    width: 100%;
  }
}

.product-info {
  margin-top: 10px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
}

.product-price {
  color: #28a745;
  font-size: 16px;
  margin-top: 5px;
}

.loading-spinner {
  font-size: 20px;
  text-align: center;
  margin: 20px;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 18px;
  margin: 20px;
}

.product-detail-container {
  width: 50%;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  text-align: left;
  display: block;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

textarea {
  resize: vertical;
  height: 100px;
}

button {
  background: #28a745;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

button:hover {
  background: #218838;
}

.update-status {
  margin: 10px 0;
  padding: 10px;
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
}

.loading-spinner,
.error-message {
  text-align: center;
  font-size: 18px;
  margin: 20px;
  color: red;
}
